.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area:experience ;
    gap: 24px;
    max-width: 500px;

    p{
        font-weight: 300px;
        font-size: 18px;
        line-height: 28px;
        color: var(--text-secundary);
        text-align: center;
    }

    .experience-time{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
    }

    .experience-language{

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        img{
            filter: grayscale(100%);
        }
        .experience-unit{
            display: flex;
            width: 300px;
            height: 35px;
            border-radius: 24px;
            border: 1px solid var(--text-secundary);
            justify-content: flex-start;
            align-items: center;
            
            
            .experience-measure{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35px;
            border-radius: 24px;
            border: 1px solid linear-gradient(90deg, #777cf4 2.62%, #f47777 93.38%);
            background: linear-gradient(90deg, #777cf4 2.62%, #f47777 93.38%);
            color: var(--text-primary);
            font-weight:300 ;
            text-align: center;
            font-size: 12px;
            
            &.measure-1{
                width: 25%;
            }
            &.measure-2{
                width: 50%;
            }
            &.measure-3{
                width: 75%;
            }
            &.measure-4{
                width: 100%;
            }
            }
        }
    
    }


    @media (min-width: 768px){
        align-items: flex-start;
        p{
            
            font-size: 24px;
            line-height: 36px;
            text-align: start;
        }
    }
}